.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ce-message-bubble {
  background-color: #28B6C2 !important;
  font-weight: bold !important;
}

#ce-send-message-button {
  background-color: #28B6C2 !important;
  font-weight: bold !important;
}

#ce-send-message-button svg {
  fill: #FFFFFF !important;
}

.ce-chat-title-container {
  color: #28B6C2 !important;
  font-weight: bold !important;
}

#new-chat-plus-button svg {
  fill: #FFFFFF !important;
}

.ce-primary-button {
  background-color: #28B6C2 !important;
}

.ce-chat-form-container {
  color: #28B6C2 !important;
  font-weight: bold !important;
}

.ce-chat-title-text {
  color: #28B6C2 !important;
  font-weight: bold !important;
}

.ce-chat-unread-dot {
  background-color: #28B6C2 !important;
  font-weight: bold !important;
}

.ce-settings {
  color: #28B6C2 !important;
  font-weight: bold !important;
}

.ce-chat-title {
  color: #28B6C2 !important;
  font-weight: bold !important;
}

svg{
  fill: #28B6C2 !important;
}
